<nav>
    <ul>
        <li><a href="/home">Studio Ghibli</a></li>
        <li><a href="/story">Story</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li style="float:right"><a class="active" href="/login">Login</a></li>
        <li style="float:right"><a class="active" href="/register">Register</a></li>
    </ul>
</nav>